%script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
%script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

.row
  .col-sm-7.col-md-8
    .lager-image
      .img
  .col-sm-5.col-md-4(style='height: 50rem;')
    .leodis-content
      %header
        %h1
          Первая Мужская Клиника
      %p.summary
        Полный текст о уникальности клинике, порядка 250 слов
  .col-sm-4
    .owl-img.img
  .col-sm-4
    .owl-content
      %h3
        Оборудование
      %p.own-summary
        Текст о оборудование и его уникальности, порядка 250 слов
  .col-sm-4
    .profile
      .profile-content.certificate
        = link_to certificate_path do
          .img
        .profile-content-copy
          %p.category
            Наши Сертификаты
          = link_to "Система контроля ISO-2021", certificate_path
          %p.profile-summary
            Текст о сертификатах, около 20 слов
          = link_to certificate_path do
            %i.fa.fa-long-arrow-right.fa-3x
  .col-sm-5.col-md-4(style='height: 50rem;')
    .find-leodis
      %header
        %h3
          Как нас найти
        %p.summary
          Текст о возможных вариантах проезда к клинике, около 150 слов
  .col-sm-7.col-md-8
    .map-image
      %div(style='width: 100%;')
        #map(style='width: 100%; height: 500px;')

  = render "layouts/instagram"

- content_for :scripts do
  :javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });

