- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, Доктор Онлайн", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Доктор Онлайн Первой Мужской Клиники"
.row
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %h1
      Доктор онлайн
    %p.category
      Сервис "Доктор Онлайн" разработан специально для Вас. Это возможность получить бесплатную консультацию докторов Первой Мужской Клиники, где бы Вы не находились
    %p.article-content
      Для получения доступа к сервису "Доктор Онлайн", Вам нужно пройти быструю
      = link_to "регистрацию", new_user_registration_path, class: "text"
      на нашем сайте, если Вы еще не зарегистрировались
      %br
      %br
      После регистрации, Вы можите войти в
      = link_to "личный кабинет", cabinet_path, class: "text"
      где реализована возможность задать вопрос врачу Первой Мужской Клиники. Общение происходит в виде чата, как только доктор увидет Ваш вопрос и напишет Вас ответ, он появиться в Вашем личном кабинете и придет Вам на электронную почту, которую Вы указываете во время регистрации.
      %br
      %br
      Так же в
      = link_to "личном кабинете", cabinet_path, class: "text"
      , Вы можите загрузить фотографию или любой графический файл, что бы показать врачу. Это возможность позволяет более полно ознакомиьтся с Вашим вопросом и дать более точные рекомендации.
      %br
      %br
      Если у Вас есть вопросы по поводу работы сервиса "Доктор Онлайн"
      =link_to "напишите нам", letters_path, class: "text"
      Наши администраторы с радостью на них ответят
      %br
      %br

    = link_to cabinet_path, class: "btn btn-primary btn-block" do
      Личный кабинет
    = link_to new_user_registration_path, class: "btn btn-white btn-block" do
      Регистрация
  = render "layouts/instagram"