<% meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, Личный кабинет", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Личный Кабинет пользователя Первой Мужской Клиники" %>
<div class="row">
  <div class="col-sm-12">
    <div class="forum-header">
      <h1>
        Добрый день
        <%= current_user.name %>
      </h1>
      <p>
        Сервис "Доктор Онлайн" Первой Мужской Клиники, раработан специально для Вас. вы можите задать вопрос врачу или загрузить графическое изображения
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="getintouch-header">
      <h1>Задайте вопрос</h1>
    </div>
  </div>
  <div class="col-sm-5 col-md-4">
    <%= image_tag "1m_clinic_doctor_ipad_chat.jpg" %>
  </div>
  <div class="col-sm-7 col-md-8">
    <div id="chatbox_<%= "#{@conversation.id}" %>" class="chatbox">
      <div class="chatboxhead">
        <div class="chatboxtitle">
          <i class="fa fa-comments"></i>

          <h1><%= @reciever.name %> </h1>
        </div>

      </div>
      <div class="chatboxcontent">
        <% if @messages.any? %>
          <%= render @messages %>
        <% end %>
      </div>
      <div class="chatboxinput">
        <%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
            <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
        <% end %>

      </div>
      <%= subscribe_to conversation_path(@conversation) %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="getintouch-header">
      <h1>Загрузите изображение</h1>
    </div>
  </div>
  <div class="col-sm-5 col-md-4">
    <%= image_tag "1m_clinic_download_chat.jpg" %>
  </div>
  <div class="col-sm-7 col-md-8">
    <div class="file_upload">
      <%= form_for [@conversation, @certificate], html: { multipart: true } do |f| %>
        <%- if @certificate.errors.any? %>
          <div id="error_explanation">
            <p>
              Исправте следующие ошибки перед отправкой:
            </p>
            <ul>
              <%- @certificate.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <%= f.file_field :image_url, :multipart => true %>
        <div class="cabinet-submit">
          <div class="actions">
            <%= f.submit "Загрузить", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <%- @certificates.each do |certificate| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "#{certificate.image_url.thumb.url}" %>
        <div class="caption text-center">
          <h3>Изображение</h3>
          <p>Вы можите открыть изображение или удалить его</p>
          <p>
            <%= link_to "Открыть", conversation_certificate_path(@conversation, certificate), class: "btn btn-primary btn-block" %>
            <%= link_to "Удалить", conversation_certificate_path(@conversation, certificate), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить этот файл?' }, class: "btn btn-danger btn-block" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render "layouts/instagram" %>
</div>
<%- content_for :scripts do %>
  <script>
    $(":file").filestyle({buttonText: "Выбрать файл"});
  </script>
<% end %>