<% meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, Личный кабинет", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Личный Кабинет пользователя Первой Мужской Клиники" %>
<%= javascript_include_tag "users.js" %>
<div class="row">
  <div class="col-sm-12">
    <div class="forum-header">
      <h1>
        Добрый день
        <%= current_user.name %>
      </h1>
      <p>
        Вступительный текст о личном кабинете Первой Мужской Клиники
      </p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="getintouch-header">
      <h1>Ваш кабинет</h1>
    </div>
    <div class="col-sm-4">
      <%= image_tag "1m_clinic_doctor_ipad_chat.jpg" %>
    </div>
    <div class="col-sm-8">
      <div id="chatbox_1" class="chatbox">
        <div class="chatboxhead">
          <div class="chatboxtitle">
            <i class="fa fa-comments"></i>

            <h1><%= @reciever.name %> </h1>
          </div>

        </div>
        <div class="chatboxcontent">
          <% if @messages.any? %>
              <%= render @messages %>
          <% end %>
        </div>
        <div class="chatboxinput">
          <%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
              <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
          <% end %>

        </div>
        <%= subscribe_to conversation_path(@conversation) %>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="getintouch-header">
      <h1>Загрузите изображение</h1>
    </div>
    <div class="col-sm-4">
      <%= image_tag "1m_clinic_download_chat.jpg" %>
    </div>
    <div class="col-sm-8">
      <div class="file_upload">
        <%= form_for [@conversation, @certificate], html: { multipart: true } do |f| %>
          <%- if @certificate.errors.any? %>
            <div id="error_explanation">
              <p>
                Исправте следующие ошибки перед отправкой:
              </p>
              <ul>
                <%- @certificate.errors.full_messages.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

            <div class="input-group">
              <span class="input-group-btn">
                  <span class="btn btn-primary btn-file">
                    Выбрать
                      <%= f.text_field :image_url, type: "file", :multiple => true %>
                  </span>
              </span>
              <%= f.text_field :image_url, class: "form-control", :readonly => true %>
          </div>
          <div class="cabinet-submit">
            <%= f.submit "Загрузить", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%- @certificates.each do |certificate| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "#{certificate.image_url}" %>
        <div class="caption">
          <h3>Изображение</h3>
          <p>Вы можите открыть изображение или удалить его</p>
          <p>
            <%= link_to "Открыть", conversation_certificate_path(@conversation, certificate), class: "btn btn-primary" %>
            <%= link_to "Удалить", conversation_certificate_path(@conversation, certificate), class: "btn btn-danger" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render "layouts/instagram" %>
</div>
<%- content_for :scripts do %>
  <script>
    $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready( function() {
        $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }

        });
    });
  </script>
<% end %>