<% meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, восстановление пароля", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Восстановление пароля на сайте Первой Мужской Клинике" %>
<div class="row">
  <div class="col-sm-12">
    <div class="getintouch-header">
      <h1>Восстановление пароля</h1>
      <p>Укажите email и мы вышлем инструкцию по восстановление пароля на ваш email</p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="contact">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
		  </div>

		  <%= f.submit "Выслать инструкцию", class: "btn btn-primary" %>
		<% end %>
    	</div>
	</div>
  <div class="col-sm-12">
    <div class="contact">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
