- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, новости", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. новости и информационные материалы Первой Мужской Клиники"
.row
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %h1
      = @post.name
    .category
      = @post.title.html_safe
    %p.article-content
      = @post.description.html_safe
    = link_to news_path do
      %i.fa.fa-long-arrow-left.fa-3x
      %p
        Все новости


.row
  = render "layouts/instagram"
