.row
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %h1
      = @post.name
    %p.category
      = @post.title
    %p.article-content
      = @post.description
    = link_to news_path do
      %i.fa.fa-long-arrow-left.fa-3x
      %p
        Все новости


.row
  = render "layouts/instagram"
