<% meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, Вход в систему", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Вход в систему на сайт Первой Мужской Клинике" %>
<div class="container" style="min-height:750px;">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center">Вход в систему</h1>
      <p class="text-center">Укажите email и пароль</p>
      <div class="account-wall">
          <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
              alt="">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
            <%= devise_error_messages! %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль" %>

            <% if devise_mapping.rememberable? -%>
              <label class="checkbox pull-left">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            <% end -%>
            <%= f.submit "Ввойти", class: "btn btn-lg btn-primary btn-block" %>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
