<div class="row">
  <div class="col-sm-12">
    <div class="getintouch-header">
      <h1>Ввход в систему</h1>
      <p>Укажите email и пароль</p>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="contact">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <%= f.submit "Ввойти", class: "btn btn-primary" %>
        
      <% end %>
    </div>
  </div>
  <div class="col-sm-12">

    <div class="contact">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
