- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, Услуги и процедуры клиники", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Услуги и процедуры Первой Мужской Клиники"
.row
  .col-sm-12
    .forum-header
      %h1
        Услуги и процедуры
      %p
        Основная специализация Первой Мужской Клиники – диагностика и лечение сложных случаев перечисленных заболеваний.

  - @service_categories.each do |category|
    .col-md-4
      .profile-content.doctor
        = link_to procedure_category_path(category[:slug]) do
          .img{:style => "background-image: url(#{image_path "#{category.image_small_url}"})"}
        .profile-content-copy
          %p.category
            наши услуги
          = link_to procedure_category_path(category[:slug]) do
            %h3.profile-name
              = category.name
          %p.profile-summary
            Узнайте больше
          = link_to procedure_category_path(category[:slug]) do
            %i.fa.fa-long-arrow-right.fa-3x
= render "layouts/doctor_online"
.row
  = render "layouts/instagram"
