- meta :title => "1m-clinic.com.ua Первая Мужская Клиника, Лечение простатита, уретритов, восполительных процессов, услуги клиники", :description => "1m-clinic.com.ua диагностика и лечение сложных случаев простотитов, уретритов, воспалительных процессов, инфекции, передаваемые половым путем, мужское бесплодие, эректильная дисфункция и другие сексуальные дисфункции. Услуги и процедуры Первой Мужской Клиники"
.row
  .col-xs-12.col-sm-12
    = image_tag "#{@service_category.image_url}", style: "width: 100%;"

  .col-sm-12
    .forum-header
      %h1
        = @service_category.name
      %p
        = @service_category.description.html_safe

  - @services.each do |service|
    .col-sm-4
      .profile-content.doctor
        = link_to procedure_path(@service_category[:slug], service[:slug]) do
          .img{:style => "background-image: url(#{image_path "#{service.image_small_url}"})"}
        .profile-content-copy
          %p.category
            = @service_category.name
          = link_to procedure_path(@service_category[:slug], service[:slug]) do
            %h3.service.profile-name
              = service.name
          %p.profile-summary
            Узнайте больше
          = link_to procedure_path(@service_category[:slug], service[:slug]) do
            %i.fa.fa-long-arrow-right.fa-3x
  .col-sm-12.title
    %h1
      = link_to procedures_path do
        Все услуги
= render "layouts/doctor_online"
.row
  = render "layouts/instagram"
