.row
  .icp-hero
    .col-sm-12.icp-hero-two.procedures_show{:style => "background-image: url(#{image_path "#{@service.image_url}"})"}
  .article.col-sm-8.col-sm-offset-2.article.col-md-6.col-md-offset-3
    %h1
      = @service.name
    %p.category
      = @service.price
    %p.article-content
      = @service.description
= render "layouts/doctor_online"

.row
  = render "layouts/instagram"
