.col-sm-12
  .instagram-images
    .row
      .instagram-photo.intro.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = link_to "/" do
          = image_tag("1M_clinic_logo.png", class: "no-retina img-responsive", alt: "Логотип 1M Клиника")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/image1.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/image2.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/image3.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/image4.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/image5.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs
        = image_tag("footer/image6.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs
        = image_tag("footer/image7.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/image8.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/image9.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/image10.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/image11.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-md.hidden-xs.hidden-sm.hidden-lg
        = image_tag("footer/image12.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
.row
%footer.site-footer
  .col-sm-2.col-sm-offset-1
    = link_to "/" do
      = image_tag(class: "footer-logo.img-responsive", alt: "Logo 1M Clinic")
  .col-sm-5
    %ul.footer-links
      %li
        = link_to "О Клинике", about_path
      %li
        = link_to "Услуги", servis_path
      %li
        = link_to "Цены", price_path
      %li
        = link_to "Новости", news_path
      %li
        = link_to "Доктор Онлайн", "/"
      %li
        = link_to "Контакты", contact_path
  .col-sm-4
    %p
      &copy 1М Клиника 2015
    .site-social-media
      %a.share.facebook(href="/")
        %i.fa.fa-facebook
      %a.share.twitter(href="/")
        %i.fa.fa-google-plus
    %p
      Site by
      %a.p53(href="/")
        LWD