.row
  %footer.site-footer
    .col-sm-2.col-sm-offset-1
      = link_to "/" do
        = image_tag("1M_clinic_logo_footer.svg", class: "footer-logo img-responsive", alt: "Logo 1M Clinic")
    .col-sm-5
      %ul.footer-links
        %li
          = link_to "О Клинике", about_path
        %li
          = link_to "Услуги", procedures_path
        %li
          = link_to "Цены", price_path
        %li
          = link_to "Новости", news_path
        %li
          = link_to "Доктор Онлайн", doctor_online_path
        %li
          = link_to "Контакты", contact_path
    .col-sm-4
      %p
        &copy 1М Клиника 2015
      .site-social-media
        %a.share.facebook(href="https://www.facebook.com/1mensclinic/")
          %i.fa.fa-facebook
        %a.share.twitter(href="google.com/+1mclinicUaMr")
          %i.fa.fa-google-plus
      %p
        Site by
        %a.p53(href="/")
          LWD