.col-sm-12
  .instagram-images
    .row
      .instagram-photo.intro.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = link_to "/" do
          = image_tag("1M_clinic_logo.jpg", class: "no-retina img-responsive", alt: "Логотип 1M Клиника")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/1m_clinic_instagram.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/1m_clinic_instagram_6.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/1m_clinic_doctor_laboratory.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/1m_clinic_instagram_3.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2
        = image_tag("footer/1m_clinic_instagram_2.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs
        = image_tag("footer/image6.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs
        = image_tag("footer/1m_clinic_doctor_laboratory_2.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/1m_clinic_instagram_8.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/doctor_pacient_fill.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/1m_clinic_instagram_5.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-xs.hidden-sm
        = image_tag("footer/1m_clinic_instagram_4.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")
      .instagram-photo.col-xs-6.col-sm-3.col-md-2.col-lg-2.hidden-md.hidden-xs.hidden-sm.hidden-lg
        = image_tag("footer/image12.jpg", class: "no-retina img-responsive", alt: "Фотографии 1M Клиники")